<section class="features-section mb-200">
    <div class="container mb-5">
        <div class="row overflow-hidden p-3 text-center">
            <div class="col-xs-12 col-lg-10 mx-auto">
                <h6 class="mb-4 overview-section-text">{{site.data.features.features}}</h6>
            </div>
            <div class="col-xs-12 col-lg-9 mx-auto">
                <h1 class="display-5 mb-4 overview-section-title">{{site.data.features.title}}</h1>
            </div>
            <div class="col-xs-12 col-lg-6 mx-auto">
                <p class="lead fw-normal mb-5 overview-section-brief">{{site.data.features.brief}}</p>
            </div>
        </div>

        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active text-center">
                    <img src="img/slider1.png" class="img-responsive center-block" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <img src="img/slider1.png" class="img-responsive center-block" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <img src="img/slider1.png" class="img-responsive center-block" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="40" height="40" rx="20" fill="white" fill-opacity="0.1"/>
                    <path d="M23 14L17 20L23 26" stroke="white" stroke-opacity="0.4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">

                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="40" height="40" rx="20" fill="white" fill-opacity="0.1"/>
                    <path d="M17 26L23 20L17 14" stroke="white" stroke-opacity="0.4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

<!--        <div class="row overflow-hidden justify-content-center">-->
<!--            <div class="col-xs-10 col-lg-10">-->
<!--                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active text-center">-->
<!--                            <img class="img-responsive center-block" src="img/slider1.png" alt="Generic placeholder image">-->

<!--                            <div class="text-center">-->

<!--                                <div class="carousel-caption">-->
<!--                                    <p>NetPyNE. Develop, simulate and analyse detailed neuronal network models using an intuitive graphical user interface </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item active text-center">-->
<!--                            <img class="img-responsive center-block" src="img/slider1.png" alt="Generic placeholder image">-->

<!--                            <div class="text-center">-->

<!--                                <div class="carousel-caption">-->
<!--                                    <p>NetPyNE. Develop, simulate and analyse detailed neuronal network models using an intuitive graphical user interface </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item active text-center">-->
<!--                            <img class="img-responsive center-block" src="img/slider1.png" alt="Generic placeholder image">-->

<!--                            <div class="text-center">-->

<!--                                <div class="carousel-caption">-->
<!--                                    <p>NetPyNE. Develop, simulate and analyse detailed neuronal network models using an intuitive graphical user interface </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">-->
<!--                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                        <span class="visually-hidden">Previous</span>-->
<!--                    </button>-->
<!--                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">-->
<!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                        <span class="visually-hidden">Next</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>


</section>
