<section class="get-started-section23weease">
    <div class="container-fluid build-future">
        <div class="row overflow-hidden p-3 p-md-5 text-center">
            <div class="col-xs-12 col-lg-10 mx-auto">
                <span class="build-future-get-started">Get started</span>
            </div>
            <div class="col-xs-12 col-lg-10 mx-auto">
                <h1 class="display-5 mb-5 page-title">Built for the future, <br> <span>available today</span> </h1>
            </div>
            <div class="col-xs-12 col-lg-8 mx-auto">
                <a class="btn btn-outline-secondary get-started" href="#">Get Started</a>
            </div>
        </div>
    </div>
</section>
