<section class="get-started-section">
    <div class="container-fluid build-future">
        <div class="row overflow-hidden p-3 p-md-5 text-center">
            <div class="col-xs-12 col-lg-10 mx-auto">
                <h1 class="display-5 mb-5 page-title">{{site.data.getStarted.title1}} <br> <span>{{site.data.getStarted.title2}}</span> </h1>
            </div>
            <div class="col-xs-12 col-lg-8 mx-auto highlighted-btn-container">
                <a class="highlighted-btn" href="https://v2.opensourcebrain.org">{{site.data.main.getStarted}}</a>
            </div>
        </div>
    </div>
</section>
