<!-- Header -->
<header id="homePage" class="main-section">
    <div class="container">
        <div class="row d-flex justify-content-center mb-5 text-center">
            <div class="col-xs-12">
                <h1 class="display-5 mb-5 page-title">{{site.data.main.mainTitle1}} <br> <span>{{site.data.main.mainTitle2}}</span> </h1>
            </div>
            <div class="col-xs-12 col-md-6 text-center">
                <p class="lead fw-normal mb-5 brief">{{site.data.main.brief}}</p>
            </div>
            <div class="col-xs-12">
                <div class='highlighted-btn-container mb-70'>
                    <a class="highlighted-btn" href="{{site.data.main.guidedTourLink}}" target="_blank">{{site.data.main.guidedTour}}</a>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="workspaces-list-container">
                    <a href="{{site.data.main.getStartedLink}}"><img src="img/workspacesList.png"></a>
                </div>
            </div>
            </div>
    </div>
</header>
